/* :root {
  font-family: "Gill Sans", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color-scheme: dark light;
  color: #dcdcdca1;
  background-color: #dcdcdca1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */





/* 
a {
  color: grey; 
  text-decoration: none; 
} */

/* a:hover {
  color: #108b7b;
  text-decoration: underline;
} */

.app-content {
  width: 100%;
  max-width: 100%;
  display: flex;
  /* overflow-x: hidden; */
  flex-grow: 1;
  background-color: #dcdcdca1;
}

/* main {
  margin-top: 60px;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  height: auto;
  flex-direction: column;
  background-color: #dcdcdca1;
} */

button:focus {
  outline: none;
}