
.home-container {
    display: flex;
    padding: 7vh;
    height: 100%;
}


.categories-container {
    display: grid;
    padding: 3vh;
    align-items: center;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 3vh;
    padding: 6vh;
}

.category-box {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 140px;
    padding: 2vh;
    text-align: center;
    transition: transform 0.3s;
}

.category-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.category-title {
    font-size: 20px;
    color: #333;
    margin: 0;
}