
.home-container {
    display: flex;
    padding: 4%;
    padding-top: 2%;
    height: 100%;
    flex: 1;
}

.categories-container {
    flex: 1;
    display: grid;
    padding: 3vh;
    align-items: center;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 3vh;
    padding: 6vh;
    padding-top: 1vh;
}

.category-box {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 140px;
    padding: 2vh;
    text-align: center;
    justify-content: center;
    align-items: center ;
    transition: transform 0.3s;
}

.category-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.category-title {
    font-size: 20px;
    color: #333;
    margin: 0;
}


.add-category {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 3px;
    color: inherit;
}

.category-create-container {
    background-color: #ffffff96;
    min-height: fit-content;
    min-width: fit-content;
    width: 30vw;
    max-height: 90vh;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 14px;
    transform: translateY(-10px);
    transition: transform 0.3s, box-shadow 0.3s;
}


.button-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
}

.create-category-title {
    color: #136966;
    margin-top: 1%;
    font-size: 24px;
    text-align: start;
    position: relative;
    margin-bottom: 3%;
    width: 100%;
    font-weight: bold;
}

.create-category-title::after {
    content: "";
    position: absolute;
    left: 27%;
    bottom: -5px;
    width: 55%;
    height: 2px;
    background-color: #136966;
    transform: translateX(-50%);
    border-radius: 5px;
}

.category-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.form-group-category {
    margin-bottom: 3%;
    width: 100%;
}

.form-group-category-switches {
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-group-category-switches label {
    color: #136966;
}

.form-group-category label {
    color: #136966;
}

textarea {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    color: #747474;
    background: rgba(255, 255, 255, 0.263);
    font-size: 16px;
    box-shadow: 0 5px 7px rgba(185, 185, 185, 0.4), inset 0 0 1px rgba(167, 167, 167, 0.4);
    transition: background 0.3s, box-shadow 0.3s;
} 

textarea#name {
    height: 30px;
}

textarea::placeholder {
    color: rgba(129, 129, 129, 0.6);
}

textarea:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.481);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

}

.button {
    border: solid 2px;
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-color: grey;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    display: inline-flex;
    align-items: center;
}

.create-category-button {
    border: none;
    border-radius: 8px;
    margin-top: 5%;
    padding: 12px 12px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffffe1;
    background-color: #136966;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.create-category-button:hover {
    background-color: #108b7b;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.switches {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin-top: 1%;
    justify-content: center;
    gap: 2%;
    width: 20%;
}

.lock-switch label,
.private-switch label,
.category-actions label {
    color: #707070;
}

.category-access-icon {
    transition: color 0.6 ease, background-color 0.6s ease, box-shadow 0.6s ease;
}

.category-access-icon:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #919191;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.category-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
}

.category-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: normal;
    font-size: 1rem;
    padding: 1%;
    margin-left: 1%;
    margin-top: 0;
    font-weight: 400;
    color: #818181;
}


.admin-panel {
    width: 85%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 2%;
    margin: 1%;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.users-title {
    font-size: 1.2rem;
    color: #7a7a7a;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
}

.priviledged-users-list ul {
    list-style: none;
}

.priviledged-users-list li {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fbfbfb88;
    padding: 1% 1%;
    height: fit-content;
    border: solid 1px #f0f0f0bc;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 70%;
    margin: 1%;
    max-width: 100%;
}

.admin-panel-header {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    align-items: baseline;
}

.username-list {
    font-size: 14px;
    min-width: 115px;
    margin-right: 3%;
    margin: 0;
    font-weight: 400;
    align-items: center;
    color: #818181;
    padding-left: 2%;
    padding: 1%;
}

user-access-list-item {
    display: flex;
    align-items: center;
    flex-direction: row;
}