.home-container {
    display: flex;
    padding: 7vh;
    height: 100%;
    flex-direction: column;
    flex: 1;
}

.error-message {
    color: rgba(255, 0, 0, 0.666);
    display: block;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 12vh;
    text-align: center;
}

.error-container {
    display: flex;
    justify-content: center;
}

.home-container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.category-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.button{
    border: solid 2px;
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 14px; 
    cursor: pointer;
    border-color: grey;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; 
    display: inline-flex;
    align-items: center; 
}

.add-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 3px;
    color: inherit; 
}

.button-text {
    margin-left: 8px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: 500;
}

.button:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.127);
}

.button:hover,
.add-button:hover {
    border-color: #4387a0;
    color: #4387a0;
    text-decoration: none;
}

.add-button:hover .button-text {
    color: #4387a0;
}

.topics {
    width: 100wh;
    min-height: fit-content;
    background-color: #ffffff;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.topic-link {
    font-size: 1.4rem;
    color: #5a5a5a;
    font-weight: bold;
    margin: 3% 0 3%;
    text-align: center;
}

.topics ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.topics li {
    background-color: #fbfbfb;
    padding: 1.5% 1.5%;
    margin: 1% 0;
    border: solid 1px #f0f0f0;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.topics li:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.topic-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #666;
}

.topics p {
    font-size: 1rem;
    color: #666;
    margin: 5px 0 0;
}

.message {
    font-size: 1rem;
    color: #666;
    margin: 5px 0 0;
}

.reply-count {
    font-size: 0.9em;
    color: #999;
    margin-top: 8px;
    font-style: italic;
}

.main-form-content {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.topic-create-container{
    background-color: #ffffff96;
    min-height: fit-content;
    min-width: fit-content;
    width: 50vw;
    max-height: 90vh;
    padding: 3%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 14px;
    transform: translateY(-10px);
    transition: transform 0.3s, box-shadow 0.3s;
}

.create-topic-title {
    color: #136966;
    margin-top: 1%;
    font-size: 24px;
    text-align: start;
    position: relative;
    margin-bottom: 3%;
    width: 100%;
    font-weight: bold;
}

.create-topic-title::after {
    content: "";
    position: absolute;
    left: 14%;
    bottom: -5px;
    width: 28%;
    height: 2px;
    background-color: #136966;
    transform: translateX(-50%);
    border-radius: 5px;
}

.topic-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form-group-topic {
    margin-bottom: 3%;
    width: 100%;
}

.form-group-topic label {
    color: #136966;
}

textarea {
    width: 97%;
    padding: 10px;
    border: none;
    color: #747474;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.263);
    font-size: 16px;
    box-shadow: 0 5px 7px rgba(185, 185, 185, 0.4), inset 0 0 1px rgba(167, 167, 167, 0.4);
    transition: background 0.3s, box-shadow 0.3s;
}

textarea#content {
    height: 200px;
}

textarea#title {
    height: 30px;
}

textarea::placeholder {
    color: rgba(129, 129, 129, 0.6);
}

textarea:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.481);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

}

.create-topic-button {
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffffe1;
    background-color: #136966;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.create-topic-button:hover {
    background-color: #108b7b;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.error-message {
    color: rgba(255, 0, 0, 0.666);
    font-size: large;
    font-weight: 600;
    margin-bottom: 10px;
}