
.header {
    top: 0;
    bottom: 0;
    padding: 10px 20px;
    opacity: 1;
    background: linear-gradient(to right, #c3ab25e6, #109c66d9, #1e9793ce); 
    box-shadow: 0 4px 8px rgba(228, 228, 228, 0.222);
    backdrop-filter: blur(8px);
    border-radius: 2px;
    border-bottom: 2px solid rgba(222, 222, 222, 0.2);
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header li {
    position: relative;
}

.tooltip-text,
.tooltip-text-category,
.tooltip-text-user {
    visibility: hidden;
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
}

.home-button:hover .tooltip-text,
.categories-button:hover .tooltip-text-category,
.user-button:hover .tooltip-text-user {
    visibility: visible;
}

.home-button,
.categories-button,
.user-button {
    color: white;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s;
    background: none;
    border: none;
    cursor: pointer;    
    position: relative;
}

.home-button:hover,
.categories-button:hover {
    color: #ffd700;
}
.user-button:hover {
    color: #4387a0;
}


.user-dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-menu {
    display: block;
    gap: 10px;
    background-color: #ffffffad;
    padding: 8px;
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-item,
.logged-user {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    position: relative;
}

.logged-user {
    font-size: 15px;
    color: #1c775e;
    cursor: default;
    align-self: center;
    font-weight: 600;
    word-break: normal;
    margin-bottom: 2%;
    background-color: #f0f0f000;
    display: inline-block;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
    width: 100%;
}

.dropdown-item[title]::after {
    content: attr(title);
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    margin-bottom: 6px;
}

.dropdown-item:hover[title]::after {
    opacity: 1;
    visibility: visible;
}

.dropdown-item .MuiSvgIcon-root {
    font-size: 1.1rem; 
}
