/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 55px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.header {
  height: 55px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


#root {
  width: 100%;
  background-color: #e6e6daa1;
}

a {
  color: grey; 
  text-decoration: none; 
}

a:hover {
  color: white;
}

.app-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}


.main-content {
  display: flex;
  height: 100vh;
  padding: 7vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar {
  background-color: #888888;
  width: 200px;
  padding: 10px;
}

