html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e6e6daa1;
}

#root {
  width: 100vw;
  height: 100vh; 
  background-color: #e6e6daa1;
}

a {
  color: grey; 
  text-decoration: none; 
}

a:hover {
  color: white;
}

.app-content {
  width: 100%;
  margin-top: 60px;
  flex-grow: 1;
  background-color: #e6e6daa1;
}

.app-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #e6e6daa1;
}

.sidebar {
  background-color: #888888;
  width: 200px;
  padding: 10px;
}

