
#root {
  width: 100%;
  background-color: #e6e6daa1;
}

a {
  color: grey; 
  text-decoration: none; 
}

a:hover {
  color: white;
}

.app-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}


.main-content {
  display: flex;
  height: auto;
  padding: 2vh;
  width: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar {
  background-color: #888888;
  width: 200px;
  padding: 10px;
}

